* {
    border: 1px solid red;
}

html {
    font-size: 62.5%;
}

.bg-img {
    background-image: url(./images/intro-bg-compressed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100rem;
}